<!-- <div class="datepicker"></div>
 -->

<%= simple_form_for @ride_year do |f| %>
  <%= f.input :registration_fee, label: 'Standard registration_fee:'  %>
  
  <%= f.input :registration_fee_early, label: 'Early bird registration fee:'  %>
  
  <%= f.input :min_fundraising_goal, label: 'Minimum rider fundraising goal:'  %>
  
  <%= f.input :year, label: 'Year (YYYY):'  %>
  
  <%= f.input :ride_start_date, as: :datepicker, input_html: {class: "form-control"},
    label: 'Ride formal start date:' %>
  
  <%= f.input :ride_end_date, label: 'Ride formal end date:'  %>
  
  <%= f.input :early_bird_cutoff, label: 'Cutoff date for early bird registration:'  %>
  
  <%= f.input :current, label: 'Set this year as "Current" for all registrations + donations?'   %>





  <%= f.button :submit %>
<% end %>


