<h3>Rider Stats for <%= @ride_year.year %></h3>

<ul>
	<% @all_ride_years.each do |ry| %>
		<li><%= link_to "Rider Stats for #{ry.year}", admin_ride_year_rider_year_registrations_path(ry) %>
		</li> 
	<% end %>

</ul>

<table class="table table-condensed">
	<tr>
		<th>Total Raised Riders + Org Donations:</th>
		<td>$<%= @total_raised  %></td>
	</tr>
	<tr>
		<th>Average Raised Per Rider:</th>
		<td>$<%= @avg_raised %></td>
	</tr>
	<tr>
		<th>Average Percent of Goal Reached by Rider:</th>
		<td><%= @avg_perc %>%</td>
	</tr>

</table>


<h4>Riders</h4>
<%= link_to "Export as CSV", admin_rider_year_registrations_path(@ride_year, format: "csv"),class: 'btn btn-info' %> 
<table class="table table-condensed">
	<tr>
		<th>Rider</th>
		<th>Ride Option</th>
		<th>Goal Set</th>
		<th>Amount Raised</th>
		<th>Percent of Goal</th>
		<th>Donations Count</th>
	</tr>
	<% @ryrs.each do |r| %>
	  <tr>
	  	<td>
	  		<%= link_to "#{r.full_name}", admin_user_path(r.user)  %>
	  	</td>
	  	<td>
	  		<%= r.ride_option %>
	  	</td>
	  	<td>
	  		$<%= r.goal %>
	  	</td>
	  	<td>
	  		$<%= r.raised %>
	  	</td>
	  	<td>
	  		<%= r.percent_of_goal %>%
	  	</td>
	  	<td>
	  		<%= r.donations.count %>
	  	</td>

	  </tr>
  <% end %>
</table>