<h3>Register <%= @ryr.full_name %> for current ride year</h3>

<%= render 'shared/form_errors' %>

<%= simple_form_for @ryr, :url => admin_user_rider_year_registrations_path(@user), :method => :post, :remote => true  do |f| %>

	<%= render 'shared/rider_year_registration_form', f: f %>

	<% if @prp %>
		<%= f.simple_fields_for @prp do |p| %>
			<%= render 'shared/prp_form', :p => p %>
		<% end %>	
	<% end %>
		
  
  <%= render partial: 'shared/payment_form', locals: { :f => f } %>
  
  <%= f.button :submit %>
<% end %>

<%= render 'shared/payment_processing_modal' %>

<script>
	
	var msg, spanText;
	var rc = $("#rider_year_registration_receipt_by_check");

	$( document ).ajaxSend(function() {
	
		spanText = rc.is(':checked') ? 'the app' : 'Paypal';

		$('#modal_paypal_switch').text(spanText); 
		$('.modal').modal({
			backdrop: 'static'
		});		
	});
	
	$("#new_rider_year_registration").bind('ajax:complete', function(event, xhr, settings) {

		$('.ajax-errors').remove(); 
		msg = JSON.parse(xhr.responseText);
		if (msg.errors) {
			var html = '<div class="alert alert-danger ajax-errors" role="alert">' +
				'<i class="fa fa-icon-exclamation"></i>' +
				msg.errors + '</div>';
			$('h3').after(html);
			$('.modal').modal('toggle');
		} else {
			window.location = msg.redirect_address;
			// console.log(msg);
		}
   });
</script>