<h3>Welcome to the Ride4Reform Team!</h3>

<p>Thank you for registering as a Ride4Reform <%= @year  %> <%= @ryr.ride_option %> participant and fundraiser!</p>

<p>Please keep this email for your records, as it serves as a receipt.</p>

<table>
	<tr>
		<th>Receipt ID:</th>
		<td><%= @receipt.paypal_id %></td>
	</tr>
	<tr>
		<th>Registration Fee:</th>
		<td><%= number_to_currency(@receipt.amount) %></td>
	</tr>
	<tr>
		<th>Time of transaction:</th>
		<td><%= @receipt.created_at.to_time.strftime('%a %b %d %Y at %H:%M %Z') %></td>
	</tr>
</table>

here's your receipt
here's a link to your profile page

here's who to contact if you have any q's