<h3>Start Fundraising for Ride4Reform <%= @year %></h3>

<p>Thank you for processing your registration fee as a Ride4Reform <%= @year  %> <%= @ryr.ride_option %> participant and fundraiser!</p>

<p>This receipt acknowledges receipt of your registration fee for the Ride4Reform. We look forward to your participation and appreciate your efforts for the IMPJ. <br>Sincerely Friends of IMPJ.</p>

<table>
	<tr>
		<th>Receipt ID:</th>
		<td><%= @receipt.paypal_id %></td>
	</tr>
	<tr>
		<th>Registration Fee:</th>
		<td><%= number_to_currency(@receipt.amount) %></td>
	</tr>
	<tr>
		<th>Time of transaction:</th>
		<td><%= @receipt.created_at.to_time.strftime('%a %b %d %Y at %H:%M %Z') %></td>
	</tr>
</table>

<p>Visit your <%= link_to 'profile page', persistent_rider_profile_url(@prp) %>, and start fundraising to meet your goal!</p>
