<table class='table'>
	<tr>
		<th>
			Display Name
		</th>
		<td>
			<%= custom_ride_option.display_name %>
		</td>
	</tr>
	<tr>
		<th>
			Description
		</th>
		<td>
			<%= custom_ride_option.description %>
		</td>
	</tr>
	<tr>
		<th>
			Liability Text
		</th>
		<td>
			<%= custom_ride_option.liability_text %>
		</td>
	</tr>
	<tr>
		<th>
			Start Date
		</th>
		<td>
			<%= custom_ride_option.start_date %>
		</td>
	</tr>
	<tr>
		<th>
			End Date
		</th>
		<td>
			<%= custom_ride_option.end_date %>
		</td>
	</tr>
	<tr>
		<th>
			Discount Code
		</th>
		<td>
			<%= custom_ride_option.discount_code %>
		</td>
	</tr>
	<tr>
		<th>
			Registration Cutoff
		</th>
		<td>
			<%= custom_ride_option.registration_cutoff %>
		</td>
	</tr>
	<tr>
		<th>
			Registration Fee
		</th>
		<td>
			<%= custom_ride_option.registration_fee %>
		</td>
	</tr>
</table>

<%= link_to "Edit #{custom_ride_option.display_name}", edit_admin_custom_ride_option_path(  custom_ride_option ), class: 'btn btn-warning' %>
<%= button_to 'Delete',  admin_custom_ride_option_path( custom_ride_option ),  method: :delete, class: 'btn btn-danger'%>
