<h3>Please fill out your payment information to finish your donation to <%= @donation.is_organizational ? 'IMPJ' : @donation.rider.full_name %></h3>

<%= render 'shared/form_errors' %>

<%= render 'donations/stats' %>


<%= simple_form_for @donation, :action => :create_donation_payment, :url => "#{ current_admin ? admin_create_donation_payment_path(@donation) : create_donation_payment_path(@donation)}", :method => :post, :remote => true do |f| %>

	<%= render 'shared/payment_form', :f => f %>

	<%= f.button :submit %>

<% end %>

<%= render 'shared/payment_processing_modal' %>

<script>
	
	var msg, spanText;
	var rc = $("#donation_receipt_by_check");

	$( document ).ajaxSend(function() {
	
		spanText = rc.is(':checked') ? 'the app' : 'Paypal';

		$('#modal_paypal_switch').text(spanText); 
		$('.modal').modal({
			backdrop: 'static'
		});		
	});
	
	$("#edit_donation_" + <%= @donation.id %>).bind('ajax:complete', function(event, xhr, settings) {

		$('.ajax-errors').remove(); 
		msg = JSON.parse(xhr.responseText);
		if (msg.errors) {
			var html = '<div class="alert alert-danger ajax-errors" role="alert">' +
				'<i class="fa fa-icon-exclamation"></i>' +
				msg.errors + '</div>';
			$('h3').after(html);
			$('.modal').modal('toggle');
		} else {
			window.location = msg.redirect_address;
			// console.log(msg);
		}
   });
</script>

