<% if current_admin %>
	
	<%= f.simple_fields_for @receipt do |r| %>
		<%= r.input :by_check, label: 'Is the donor paying by check?' %>
	
		<div class="check_fields">
			<%= r.input :check_num, label: 'Check Number' %>
			<%= r.input :bank %>
			<%= r.input :check_dated %>		
		</div>
	<% end %>	
	
<% end %>

<div class="cc_fields">
	<%= f.input :cc_type, collection: credit_cards, label: 'Credit Card Type' %>

	<%= f.input :cc_number, input_html: { maxlength: 16 }, label: 'Credit Card Number', hint: 'No spaces please.' %>
	<%= f.input :cc_expire_month, collection: months, label: 'Expiration month' %>
	<%= f.input :cc_expire_year, as: :date, start_year: Date.today.year,
	                            end_year: Date.today.year + 10, discard_day: true, discard_month: true,
	                            order: [:year], label: 'Expiration year' %>
	<%= f.input :cc_cvv2, input_html: { maxlength: 4 }, label: 'security code (cvv)' %>
</div>

<% if @mailing_addresses %>
	<!-- < %= @mailing_addresses.inspect %> -->
	<%= f.input :mailing_addresses, as: :radio_buttons, collection: @mailing_addresses.map { |m_a| [m_a.one_liner, m_a.id] }, label: 'Select Billing Address for your credit card' %>

	<%= f.input :custom_billing_address, as: :boolean, label: 'Add a separate billing address?' %>
<% else %>
	<%= f.input :custom_billing_address, as: :boolean, label: 'Your billing address.', :input_html => { :checked => true, :hidden => true } %>
<% end %>



<div class='custom_billing_address'>
  <%= f.simple_fields_for @custom_billing_address do |m| %>
  	<%= m.input :line_1 %>
		<%= m.input :line_2 %>

		<%= m.input :city %>
		<%= m.input :state, collection: us_states %>
		<%= m.input :zip, hint: '5 digits please', input_html: { maxlength: 5 } %>
  <% end %>
</div>

<script>
	
	$( document ).ready(function() {

		<% if @donation %>
			var ch = $('#donation_custom_billing_address');
		<% else %>
			var ch = $('#rider_year_registration_custom_billing_address') ;
		<% end %>
		
		var c_b_a = $('.custom_billing_address');

		c_b_a.hide();

		_.each( $('.custom_billing_address input'), function(ip){
			if ( ip.value ){
				ch.checked = true;
				c_b_a.show();
			}
		});
		
		ch.on('change', function(){
			if ( ch.is(':checked') ) {
				c_b_a.show();
			} else {
				c_b_a.hide();
			}
		}); 
		ch.trigger('change'); 

		<% if @mailing_addresses && @mailing_addresses.empty? %>
			ch[0].checked = true;
			ch.trigger('change');
			ch.hide();
		<% end %>

		<% if @ryr  %>
			var payByCheck = $('#rider_year_registration_receipt_by_check'); 
		<% else %>
			var payByCheck = $("#donation_receipt_by_check")
		<% end %>

		if ( !_.isEmpty(payByCheck) ) {
			payByCheck.change(function(e){
				if (e.target.checked){
					$('.check_fields').show();
					$('.cc_fields').hide();
				} else {
					$('.check_fields').hide();
					$('.cc_fields').show();
				}

			});
			payByCheck.trigger('change');
		}

	});
	
</script>
