<h2>Edit <%= @ride_year.year %></h2>

<p>Current Ride Year is <strong><%= @current.year %></strong></p>

<h5><%= link_to 'Add and Manage Custom Ride Options', admin_ride_year_custom_ride_options_path( @ride_year ) %></h5>
<% if @ride_year.custom_ride_options %>
	<p>Current custom ride options are <strong><%= @ride_year.custom_ride_options.map{|c| c.display_name }.join(', ') %></strong>.</p>
<% end %>

<%= render 'form' %>




