<h2>Edit <%= @ride_year.year %></h2>

<p>Current Ride Year is <strong><%= @current.year %></strong></p>

<h5><%= link_to 'Manage Ride Options', admin_ride_year_custom_ride_options_path( @ride_year ) %></h5>

<%= render 'form' %>

<%= render 'shared/bootstrap_modal' %>



