<h3>Please fill out your payment information to finish your donation to <%= @donation.is_organizational ? 'IMPJ' : @donation.rider.full_name %></h3>

<%= render 'shared/form_errors' %>


<table class="table table-condensed">
  <tr>
  	<th>Amount</th>
  	<td><%= @donation.amount %></td>
  </tr>
  <tr>
  	<th>Note to display:</th>
  	<td><%= @donation.note_to_rider %></td>
  </tr>
  <tr>
  	<th>Make anonymous?</th>
  	<td><%= @donation.anonymous_to_public %></td>
  </tr>
</table>



<%= simple_form_for @donation, :action => :create_donation_payment, :url => create_donation_payment_path(@donation), :method => :post, :remote => true do |f| %>

	<%= render 'shared/payment_form', :f => f %>

	<%= f.button :submit %>

<% end %>

<%= render 'shared/payment_processing_modal' %>

<script>
	
	var msg;

	$( document ).ajaxSend(function() {
		$('.modal').modal({
			backdrop: 'static'
		});		
	});
	
	$("#edit_donation_" + <%= @donation.id %>).bind('ajax:complete', function(event, xhr, settings) {

		$('.ajax-errors').remove(); 
		msg = JSON.parse(xhr.responseText);
		if (msg.errors) {
			var html = '<div class="alert alert-danger ajax-errors" role="alert">' +
				'<i class="fa fa-icon-exclamation"></i>' +
				msg.errors + '</div>';
			$('h3').after(html);
			$('.modal').modal('toggle');
		} else {
			window.location = msg.prp_address;
			// console.log(msg);
		}
   });
</script>

