<%= render 'shared/form_errors' %>

<%= simple_form_for @ryr  do |f| %>
  <%= f.input :ride_option, collection: RiderYearRegistration::RIDE_OPTIONS, include_blank: false %>
  <div class='custom_ride_conditional'>
	  <%= f.input :custom_ride_option, as: :select, collection: @options, label: 'Select the custom ride option' %>
	  <%= f.input :discount_code, label: 'Discount code for custom ride' %>
  </div>
  <%= f.input :goal, label: 'Fundraising Goal', hint: "Must be above #{RideYear.current.min_fundraising_goal}" %>
  <%= f.button :submit %>
<% end %>

<script>
	$(function(){
		var $select = $('#rider_year_registration_ride_option');

		if ( $select.val() !== 'Custom') {
			var $custom = $('.custom_ride_conditional')
				.hide()
				.data('hidden', true);
		}

		$select.change(function(){
			if ( this.value === 'Custom' ){
				$custom.data('hidden', false).show(200);
			} else {
				if ( !$custom.data('hidden') ) {
					$custom.data('hidden', true).hide(200);
				}
			}
		});
	});
	
</script>

