<%= render 'shared/form_errors' %>

<%= simple_form_for @ryr  do |f| %>
  <%= f.input :ride_option, collection: RideYear.current.options, include_blank: false %>
  <div class='custom_ride_conditional'>
	  <%= f.input :discount_code, label: 'Discount code for non-standard ride' %>
  </div>
  <%= f.input :goal, label: 'Fundraising Goal', hint: "Must be above #{RideYear.current.min_fundraising_goal}" %>
  <%= f.button :submit %>
<% end %>

<script>
	$(function(){
		var standard_opts = <%= RideYear::OPTIONS.to_json.html_safe %>;

		var $select = $('#rider_year_registration_ride_option');

		var $custom = $('.custom_ride_conditional')
			.hide()
			.data('hidden', true);

		$select.change( function(){
			var option = this.value;

			if ( !_.include(standard_opts, option ) ){
				$custom.data('hidden', false).show(200);
			} else {
				if ( !$custom.data('hidden') ) {
					$custom.data('hidden', true).hide(200);
				}
			}
		});
	});
	
</script>

