<% if @errors %>
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <%= @errors.full_messages.to_sentence %>  
  </div>
<% end %>

<%= simple_form_for @ryr  do |f| %>
   
  <%= f.input :ride_option, collection: RiderYearRegistration::RIDE_OPTIONS %>
<!-- 
  < %= f.simple_fields_for :mailing_addresses, @ryr.mailing_addresses do |m| %>
      < %= m.input :line_1 %>
      < %= m.input :line_2 %>
      < %= m.input :city %>
      < %= m.input :state %>
      < %= m.input :zip %>

  < % end %>

	< %= f.simple_fields_for :persistent_rider_profile, @ryr.persistent_rider_profile do |p| %>
    < %= p.input :primary_phone %>
    < %= p.input :secondary_phone %>

    < %= p.input :birthdate, as: :date, start_year: 1935 %>
		< %= p.input :bio, as: :text %>
	< % end %> -->
  
  <%= f.input :goal %>
  <%= f.button :submit %>
<% end %>

