<h3>Please Pay The Rider Registration Fee</h3>
<%= render 'shared/form_errors' %>

<%= simple_form_for @ryr, :url => rider_year_registrations_pay_reg_fee_path(@ryr, ryr_id: @ryr), :method => :post do |f| %>

	<%= f.input :credit_card_info %>
	<%= f.association :mailing_addresses, as: :radio_buttons, collection: @mailing_addresses.map { |m_a| m_a.one_liner }, label: 'Select Your Billing Address' %>

	<%= f.input :custom_billing_address, as: :boolean, label: 'Add a separate billing address?' %>
  
  <div class='custom_billing_address'>
	  <%= f.simple_fields_for @custom_billing_address do |m| %>
	  	<%= m.input :line_1 %>
			<%= m.input :line_2 %>

			<%= m.input :city %>
			<%= m.input :state, collection: us_states %>
			<%= m.input :zip, hint: '5 digits please', input_html: { maxlength: 5 } %>

	  <% end %>
  </div>
  
  <%= f.button :submit %>
<% end %>

<script>
	
	$( document ).ready(function() {
		var ch = $('#rider_year_registration_custom_billing_address');
		var c_b_a = $('.custom_billing_address');

		c_b_a.hide();

		_.each( $('.custom_billing_address input'), function(ip){
			if ( ip.value ){
				ch.checked = true;
			}
		});
		
		ch.on('change', function(){
			if ( ch.is(':checked') ) {
				c_b_a.show();
			} else {
				c_b_a.hide();
			}
		});   
	});
	
</script>