<h3>Please Enter Your Profile Information <br><small>you can update later</small></h3>
<%= render 'shared/form_errors' %>

<%= simple_form_for @ryr, :url => rider_year_registrations_persistent_rider_profile_path(@ryr, ryr_id: @ryr), :method => :post do |f| %>

  <%= f.simple_fields_for :persistent_rider_profile do |p| %>

  	<%= p.input :bio %>
		<%= p.input :photo_upload, hint: 'fake field! stand in for paperclip and avatar' %>

		<%= p.input :birthdate, start_year: Date.today.year - 80,
                              end_year: Date.today.year - 17 %>
		<%= p.input :primary_phone, as: :tel, input_html: { maxlength: 10 }, hint: 'no breaks or spaces please' %>
		<%= p.input :secondary_phone, as: :tel, input_html: { maxlength: 10 }, hint: 'no breaks or spaces please' %>

  <% end %>
  
  <%= f.button :submit %>
<% end %>