<h3>Please Enter Your Profile Information <br><small>you can update later</small></h3>
<%= render 'shared/form_errors' %>

<%= simple_form_for @ryr, :url => rider_year_registrations_persistent_rider_profile_path(@ryr, ryr_id: @ryr), :method => :post do |f| %>

  <%= f.simple_fields_for :persistent_rider_profile do |p| %>
  	<%= render 'shared/prp_form', :p => p %>
  <% end %>
  
  <%= f.button :submit %>
<% end %>