<h3>Please Enter Your Mailing Address</h3>
<%= render 'shared/form_errors' %>

<%= simple_form_for @ryr, :url => rider_year_registrations_mailing_address_path(@ryr, ryr_id: @ryr), :method => :post do |f| %>

  <%= f.simple_fields_for :mailing_addresses do |m| %>
  	<%= render 'shared/mailing_address_form', :m => m %>
  <% end %>
  
  <%= f.button :submit %>
<% end %>