<h3>User Attributes</h3>

<table class="table table-condensed">
  <tr>
    <th>Full Name</th>
    <td><%= @user.full_name %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @user.email %></td>
  </tr>
 
</table>

<br><%= link_to 'Edit User + Profile', edit_admin_user_path(@user), class: 'btn btn-success btn-default' %>

<h3>Rider Profile</h3>
<% if @prp %>

	<table class="table table-condensed">
	  <tr>
	    <th>Bio</th>
	    <td><%= @prp.bio %></td>
	  </tr>
	  <tr>
	    <th>Birthdate</th>
	    <td><%= @prp.birthdate %></td>
	  </tr>
	  <tr>
	    <th>Primary phone</th>
	    <td><%= @prp.primary_phone %></td>
	  </tr>
	  <tr>
	    <th>Secondary phone</th>
	    <td><%= @prp.secondary_phone %></td>
	  </tr>
	  <tr>
	    <th>Photo Uploaded?</th>
	    <td><%= @prp.avatar_file_name ? @prp.avatar_file_name : 'None' %></td>
	  </tr>
	</table>

<% else %>
	<h4>No rider history</h4>
<% end %>


<h3>Ride History 
	<% unless @user.rider_in_current_year? %>
		<small><%= link_to "+ Register Rider for #{@current_ride_year.year}",  new_admin_user_rider_year_registration_path(@user), class: 'btn btn-success' %></small>
	<% end %>
	
</h3>
<% if @all_rides %>

	<table class="table table-condensed">
		<tr>
			<th>Ride Year</th>
			<th>Ride Option</th>
			<th>Goal Set</th>
			<th>Amount Raised</th>
			<th>Donations Count</th>
			<th>Edit Link</th>
			<th>Delete?</th>
		</tr>
		<% @all_rides.each do |r| %>
		  <tr>
		  	<td>
		  		<%= r.ride_year.year %>
		  	</td>
		  	<td>
		  		<%= r.ride_option %>
		  	</td>
		  	<td>
		  		<%= r.goal %>
		  	</td>
		  	<td>
		  		<%= r.raised %>
		  	</td>
		  	<td>
		  		<%= r.donations.count %>
		  	</td>
		  	<td>
		  		<%= link_to 'Edit', edit_admin_rider_year_registration_path(r), class: 'btn btn-default btn-sm'  %>
		  	</td>
				<td>
					<%= link_to 'Delete', admin_rider_year_registration_path(r), :method => :delete, class: 'btn btn-danger btn-sm', data: { confirm: "Confirm to delete this Registration" }    %>
				</td>
		  </tr>
	  <% end %>
	</table>

<% else %>
	<h4>No rider history</h4>
<% end %>

<h3>Donor History</h3>
<% if @donations %>
	<%= render 'admin/donations/collection_stats', dons: @donations %>
<% else %>
	<h4>No Donation History</h4>
<% end %>

<h3>Mailing Addresses</h3>
<% if @mailing_addresses %>
	<table class="table table-condensed">
		<tr>
			<th>Line 1</th>
			<th>Line 2</th>
			<th>City</th>
			<th>State</th>
			<th>Zip</th>
			<th>Edit Link</th>
			<th>Delete</th>			
		</tr>
		<%  @mailing_addresses.each do |m|%>
		  <td><%= m.line_1  %></td>
			<td><%= m.line_2 %></td>
			<td><%= m.city %></td>
			<td><%= m.state %></td>
			<td><%= m.zip %></td>
			<td><%= link_to "Edit ##{m.id}", edit_mailing_address_path(m), class: 'btn btn-default btn-sm' %></td>
			<td><%= button_to "Delete ##{m.id}", admin_mailing_address_path(m), :method => :delete, class: 'btn btn-danger btn-sm', data: { confirm: "Confirm to delete #{m.one_liner}." }   %></td>
	  <% end %>
	</table>

<% else %>
	<h4>No associated addresses</h4>
<% end %>
