<h3>Donations For <%= @current_ride_year.year %></h3>

<%= link_to 'Create Manual Donation', new_admin_donation_path, class: 'btn btn-default' %></br>

<ul>
  <% @ride_years.each do |ry| %>
  	<li><%= link_to "Donations for #{ry.year}", admin_ride_year_donations_path(ry) %></li>
  <% end %>
</ul>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Organizational Donations</h3>
  </div>
  <div class="panel-body">
    <%= render 'admin/donations/collection_stats', dons: @org_donations %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Rider Donations</h3>
  </div>
  <div class="panel-body">
    <%= render 'admin/donations/collection_stats', dons: @rider_donations %>
  </div>
</div>


