<div class="col-sm-6 col-md-4">
<div class="thumbnail prp-index"> 
  
  <%= link_to persistent_rider_profile_path(rider) do %>
    
    <% if rider.avatar_file_name  %>
			<%= image_tag rider.avatar.url(:thumb) %>
		<% else %>
			<i class="fa fa-bicycle"></i>
		<% end %>
  
  <% end %>
  
  <div class="caption">
    <h4><%= rider.full_name %></h4>
    <p>
      <%= link_to "#{rider.first_name}'s Profile", persistent_rider_profile_path(rider), class: "btn btn-primary" %>
      <%= link_to "Donate Now!", new_persistent_rider_profile_donation_path(rider), class: "btn btn-success" %>
    </p>
  </div>
</div>
</div>
