<h3>Edit Your Rider Profile</h3>

<%= render 'shared/form_errors' %>

<%= simple_form_for @prp do |p| %>
	
	<%= render 'shared/prp_form', :p => p %>
	
	<%= p.simple_fields_for @this_years_registration do |f| %>
		<%= render 'shared/rider_year_registration_form', :f => f %>
	<% end %>

	<%= p.button :submit %>

<% end %>

<hr>

<h3>Mailing Addresses</h3>

<% @mailing_addresses.each do |m| %>
	<%= m.one_liner %> <%= link_to 'Edit address', edit_mailing_address_path(m), :class => "btn btn-default" %>
	<%= button_to "Delete", m, :method => :delete if @mailing_addresses.count > 1  %>
<% end %>

<br><%= link_to 'Add a new mailing address?', new_mailing_address_path, :class => "btn btn-default" %>
