<div class="row">
  <div class="col-md-4">
		<%= render 'picture', :rider => @rider %>
		<div class="well well-sm"> 
			<h3><%= @rider.full_name  %></h3>
			<% if @prp_owner_signed_in %>
				<%= link_to 'Edit your profile?', edit_persistent_rider_profile_path, class: "btn btn-success" %>

				<% if @years_registration.active_for_fundraising %>
					<%= link_to 'Deactivate profile', persistent_rider_profile_deactivate_current_ryr_path(@rider), class: 'btn btn-warning', method: :post, params: { persistent_rider_profile: @rider.id } %>
				<% else %>
					<%= link_to 'Reactivate profile', persistent_rider_profile_reactivate_current_ryr_path(@rider), class: 'btn btn-success', method: :post, params: { persistent_rider_profile: @rider.id } %>
				<% end %>
				<hr>

				<%= link_to 'Your Donor List', persistent_rider_profile_donations_path(@rider), class: 'btn btn-success' %>
			<% end %>
		</div>
		<div class="well well-sm"> 
			<%= @rider.bio %>
		</div>
		<div class="well well-sm"> 
			<table class="table table-striped">
				<%= @rider.first_name %>'s participation details:
			  <tr>
			  	<th>
			  		Ride Option:
			  	</th>
			  	<td>
			  		<%= @years_registration.ride_option %>
			  	</td>
			  </tr>
			  <tr>
			  	<th>
			  		Goal:
			  	</th>
			  	<td>
			  		<%= @goal %>
			  	</td>
			  </tr>
			</table>
		</div>
	</div>
  
  
  <div class="col-md-4">
  	<h4><%= @rider.first_name %> has raised <%= @percent_of_goal %>% of their $<%= @goal %> goal.</h4>

		<div id="chart" class="col-md-8 col-md-offset-1"></div>
		<br><%= link_to "Donate to #{@rider.first_name}'s Campaign!", new_persistent_rider_profile_donation_path(@rider), class: "btn btn-info btn-lg" %>

  </div>
  <div class="col-md-4">
  	<!-- TODO -- make this a scrolling list? -->
  	<h4><%= @rider.first_name %>'s Donors</h4>
		<%= render './donations/list', :donations => @donations %>
  </div>
</div>


<script>
	
	var raised = "$" + <%= @raised %> + " raised";
	var chart = c3.generate({
    data: {
        columns: [
            [ raised  , <%= @percent_of_goal %>]
        ],
        type: 'gauge',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    color: {
        pattern: ['#60B044'], // the color percentage values.
    },
    size: {
        height: 180
    }
	});
</script>