<div class="row">
  <div class="col-md-4">
  	<%= @rider.full_name  %>
		<%= render 'picture', :rider => @rider %>
		<br><%= link_to "Donate to #{@rider.full_name}'s Campaign!", new_persistent_rider_profile_donation_path(@rider), class: "btn btn-info btn-lg" %>
	</div>
  
  
  <div class="col-md-4">
  	I am a gauge vizualization.
  	<br><%= @raised %>
  	<br><%= @percent_of_goal %>
		
  </div>
  <div class="col-md-4">
  	<!-- TODO -- make this a scrolling list? -->
  	<h4><%= @rider.first_name %>'s Donors</h4>
		<%= render './donations/list', :donations => @donations %>
  </div>
</div>









<% if current_user == @rider.user %>

	show me the control panel

<% end %>


